<form action="/" method="post" id="formChat">
  <input type="text" name="message" id="message" placeholder="Your message..." size="50" autofocus />
  <input type="submit" id="submitMsg" value="Send" />
</form>
