<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/css/home.css">
    <script src="https://use.fontawesome.com/7a8f184185.js"></script>
    <title>Be</plug></title>
  </head>
  <body>
    <div class="main">
      <header class="mainHeader">
        <div class="logo">
          <img title="Home" src="../assets/img/myLogo.png" alt="Logo"/>
        </div>
        <h1><xmp>Be</plug></xmp></h1>
        <div class="navBox">
          <nav>
            <i title="Notifications" class="fa fa-bell fa-3x" aria-hidden="true"></i>
            <i title="Calendar" class="fa fa-calendar fa-3x" aria-hidden="true"></i>
            <i title="Forums" class="fa fa-list-alt fa-3x" aria-hidden="true"></i>
            <i title="Links" class="fa fa-link fa-3x" aria-hidden="true"></i>
            <i title="Chatbox" class="fa fa-comments fa-3x" aria-hidden="true"></i>
            <i title="Private discussions" class="fa fa-comment fa-3x" aria-hidden="true"></i>
            <i title="Online users" class="fa fa-users fa-3x" aria-hidden="true"></i>
          </nav>
        </div>
      </header>
      <div class="mainContent">
        <section id="home" class="home">
          <h2>Home</h2>
        </section>
        <section id="notifications" class="notifications">
          <h2>Notifications</h2>
        </section>
        <section id="calendar" class="calendar">
          <h2>Calendar</h2>
        </section>
        <section id="forums" class="forum">
          <h2>Forums</h2>
        </section>
        <section id="links" class="links">
          <h2>Links</h2>
        </section>
        <section id="chatbox" class="chatbox">
          <h2>Chatbox</h2>
        </section>
        <section id="privateMsgs" class="privateMsgs">
          <h2>Private messages</h2>
        </section>
        <section id="usersON" class="usersON">
          <h2>Online users</h2>
        </section>
      </div>
    </div>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
</html>
