<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/chatBox.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <script src="https://use.fontawesome.com/7a8f184185.js"></script>
    <title>Be</plug></title>
  </head>
  <body>
    <div class="mainContent">
      <img src="myLogo.png" alt="Logo"/>
      <div class="privateMsgBtn">
        <i title="Private discussions" onclick="getPrivateMsg()" class="fa fa-comments fa-3x" aria-hidden="true"></i>
      </div>
      <section id="chatZone">
      </section>
      <form action="/" method="post" id="formChat">
        <input type="text" name="message" id="message" placeholder="Your message..." size="50" autofocus />
        <input type="submit" id="submitMsg" value="Send" />
      </form>
      <section class="privateMsg">
        <select name="privateMsg">

        </select>
      </section>
    </div>
    <section class="usersON">
      <h2>Connected</h2>
      <ul id="usersON">
      </ul>
    </section>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script type="text/javascript" src="/scripts/privateMsg.js"></script>
  </body>
</html>
