<link rel="stylesheet" href="/css/chatbox.css">
<div id="chatZone">
</div>
<form action="/" method="post" id="formChat">
  <input type="text" name="message" id="message" placeholder="Your message..." size="50" autofocus />
  <input onclick="sendMsg(event)" type="submit" id="submitMsg" value="Send" />
</form>
