html, body{
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: sans-serif;
}
.mainContent{
  width: 85%;
  height: 100vh;
  float: left;
}
.mainContent img{
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

#chatZone{
  background-color: white;
  width: 40%;
  min-height: 60vh;
  /*margin: auto;*/
  float: left;
  border-radius: 10px;
  border: outset;
  margin-top: 150px;
}
#formChat{
  /*text-align: center;*/
  margin-left: 110px;
  margin-top: 40px;
}
#formChat input{
  height: 30px;
  border-radius: 5px;
  border: outset ;
}
#submitMsg{
  width: 70px;
  height: 35px;
}
#submitMsg:hover{
  border: inset;
  cursor: pointer;
}
/*--------------------------------*/
.usersON{
  display: block;
  width: 15%;
  height: 100vh;
  float: right;
  background-color: white;
  box-shadow: silver 5px 5px 10px inset;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
}
.usersON h2{
  text-align: center;
  color: silver;
  text-shadow: 1px 1px black;
}
.usersON ul{
  list-style: none;
  line-height: 25px;
}
.usersON li:hover{
  cursor: pointer;
  font-weight: bold;
}
/*--------------------------------*/
.privateMsgBtn{
  width: max-content;
  display: block;
  position: absolute;
  top: 30px;
  right: 20%;
}
.privateMsgBtn i:hover{
  cursor: pointer;
}
.privateMsg{
  display: block;
  width: 500px;
  height: 500px;
  background-color: lightblue;
  float: right;
}
